*{
    padding: 0px;
    margin: 0px;
}

body{
    text-align: center;
    background: snow;
}

canvas{
    background: skyblue;
    -webkit-transition: -webkit-transform 1s;
}

canvas:hover{
    width: 51px;
    height: 49px;
    opacity: 0.5;
}

#canvasDiv{
    margin: 150px auto 40px;
}

#reloadButton{
    text-decoration: none;
    color: black;
    font: 20px tahoma;
}

#reloadButton:hover{
    font-size: 22px;
}